div {text-align: center;}
.header {font-weight:bold}
.content{font-size: 1.2em;}
.link {font-size:.9em; font-weight:normal}
.points{color:#00a353; font-weight:bold;}
hr {margin-top:0em; margin-bottom:.5em; padding:0px;}
